<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ppiiyong Page</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <!-- 좌상단 로고 관련 -->
    <div class="container">
        <img src="/static/images/logo.png" class="image" alt="Logo">
        <div class="text">ppiiyong</div>
    </div>

    <!-- 네모난 카테고리들 관련 -->
    <div class="category">
        <div class="main"></div>
        <div class="side"></div>
    </div>

    <!-- 버튼 컨테이너 -->
    <div class="buttons">
        <!-- QR 코드 버튼 -->
        <div class="QR">
            Scan your<br>QR Code
        </div>

        <!-- 사용자 정보 버튼 -->
        <div class="userinfo">
            Please give your<br>simple info.
        </div>

        <!-- 응급 대처 방법 영상 버튼 -->
        <div class="videos">
            Go to see<br>Emergency response video
        </div>
    </div>
</body>
</html>
