<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>삐용삐용</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <!-- 헤더 -->
    <header>
        <div class="header-bar">
            <div class="logo-container">
                <img src="/static/images/logo.png" class="logo" alt="Logo">
                <h1 class="main-title"><a href="/">삐용삐용</a></h1>
            </div>
            <nav class="nav-menu">
                <a href="/" class="nav-item active">메인 화면</a>
                <a href="/fireservice" class="nav-item">화재 대처 서비스</a>
                
                {% if user_name %}
                    <a href="/user_profile" class="nav-item">{{ user_name }}님</a>
                    <a href="/logout" class="nav-item">로그아웃</a>
                {% else %}
                    <a href="/signup" class="nav-item">계정 정보</a>
                {% endif %}
            </nav>
        </div>
    </header>

    <!-- 검색창 섹션 -->
    <div class="search-section">
        <div class="search-container">
            <input type="text" id="search" placeholder="장소를 입력하세요">
            <button id="search-btn">
                <img src="/static/images/search-icon.png" alt="Search Icon">
            </button>
        </div>
        <div id="suggestions" class="suggestions-list"></div> <!-- 추천 결과 표시 -->
    </div>

    <!-- 메인 -->
    <main>
        <div class="main-section">
            <img src="/static/images/logo.png" class="main-logo" alt="Logo"><h2 class="sub-title">화재 대피 도우미 서비스<br>삐용삐용</h2>
            <p class="description">화재 발생 위험을 감지하고 실시간으로 대피 및 대처를 도와주는<br>화재 대피 도우미 서비스</p>
        </div>

        <!-- 원형 정보 카드 -->
        <div class="info-cards">
            <div class="card">화재 발생 위험<br>감지 후 알림</div>
            <div class="card">실시간 대피 경로<br>이미지화</div>
            <div class="card">대처 메뉴얼<br>음성 및 영상</div>
        </div>
    </main>
    <script type="module" src="/static/javascript/search.js"></script>
</body>
</html>