@font-face {
    font-family: 'mainFont';
    src: url('/static/font/Jua-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'mainFont', sans-serif;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: white;
    padding: 10px;
    border-top: 30px solid #E85F0A;
    border-bottom: 5px solid #E85F0A;
}

.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
}

.main-title a {
    margin-left: 10px;
    font-size: 30px;
    color: black;
    text-decoration: none !important;
}

.nav-menu {
    display: flex;
}

.nav-item {
    margin-left: 20px;
    text-decoration: none;
    font-size: 20px;
    color: #333;
    font-family: 'mainFont', sans-serif;
}

.nav-item.active {
    color: #FFA500;
    font-weight: bold;
}

.nav-item:hover {
    color: #000;
    font-weight: bold;
}

.no-content h2, .fire-safety-info h2 {
    padding-left: 30px;
}

/* 전체 컨텐츠를 담는 컨테이너 */
.content-container {
    display: flex;
    justify-content: flex-start; /* 왼쪽으로 붙이기 */
    align-items: flex-start;     /* 세로 정렬 */
    padding: 20px;
}

/* 지도 이미지 영역 */
.floor-map {
    padding-left: 60px;
    flex: 1;
}

.floor-map img {
    width: 600px;
    height: 500px;
    border-radius: 10px; /* 네 귀퉁이 라운드 */
    border: 2px solid #000; /* 검정색 테두리, 두께 2px */
}

.fire-videos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px; /* 사진과 영상 사이 간격 줄이기 */
}

.fire-videos iframe {
    margin-bottom: 15px;
    width: 400px;
    height: 225px;
}

/* 즐겨찾기 아이콘 스타일 */
.favorite-section {
    display: flex;
    align-items: center;
    margin: 10px;
    right: 0;
}

.favorite-icon {
    font-size: 30px;
    color: gray;
    cursor: pointer;
}

.favorite-icon.active {
    color: gold;
}

/* 모바일 화면 스타일 */
@media (max-width: 768px) {
    .logo {
        margin: 0;
    }

    .main-title {
        font-size: 28px; /* Adjusted font size for mobile screens */
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
    }

    .nav-item {
        display: block;
        text-align: center;
    }

    .no-content h2, .fire-safety-info h2 {
        padding-left: 30px;
    }

    .content-container {
        flex-direction: column;
    }
    
    .floor-map {
        padding-left: 0;
    }
    
    .floor-map img {
        width: 100%;
        height: auto;
    }

    .fire-videos {
        margin-left: 0;
    }

    .fire-videos .video-btn {
        width: 100%;
    }
}
